@charset "EUC-KR";

body{
    margin: 0px;
    padding: 0px;
}

header{
    margin : 0px;
    padding : 0px;
    padding-right: 100px;
    background: url("../images/topimage.jpg") no-repeat;
    background-size: 100%;
    height:500px;
}
header h1{
    text-align: right;
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 2px 2px #000;
}
header h2{
    text-align: right;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 2px #000;
}
nav{
    background: rgb(18, 63, 129);
    padding: 0px;
    margin: 0px;
}

nav a{
    font-size: larger;
    color : rgb(255, 255, 255);
    text-decoration: none;
    padding : 16px 65px;
    border-radius: 15px;

}

nav a:link{
}
nav a:visited{
}
nav a:hover{
    background: rgb(66, 100, 148);
}
nav a:active{
}
nav table{
    width : 1000px;
    margin: auto;
    text-align: center;
}
nav td{
    padding : 20px;
}




/* 화물접수 스타일 */

section{
    width : 1000px;
    margin : auto;
    margin-top : 80px;
    margin-bottom : 80px;
}

section table{
    width : 1000px;

}

section th{
    color: rgb(255, 255, 255);
    background: rgb(18, 63, 129);
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}
section td{
    font-size: larger;
    padding: 20px;
}

section a{
    color: rgb(255, 255, 255);
    background: rgb(18, 63, 129);
    text-decoration: none;
    padding : 5px 15px;
    border-radius: 5px;    
}
section a:hover{
    background: rgb(131, 167, 218);
}

section input{
    font-size: larger;
    border: solid 0px;
    border-bottom: solid 2px rgb(18, 63, 129);
}

section textarea{
    font-size: larger;
    border: solid 2px rgb(18, 63, 129);
}

h1{
    text-align:center;
}
p{
    font-size:larger;
    color:rgb(22, 22, 22);
}

section truckname{
    background: rgb(18, 63, 129);
    border-radius: 20px;
    padding: 10px 30px;
    margin: auto;
    color :rgb(255, 255, 255);
    text-align: center;
}

button{
    color: rgb(255, 255, 255);
    background: rgb(18, 63, 129);
    font-size: large;
    border: none;
    text-decoration: none;
    padding : 5px 15px;
    border-radius: 5px;    
}

/* 요금결제 스타일 */
.paymentbody{
    background: rgb(171, 196, 235);
}
.payment{
    border: 20px solid rgb(171, 196, 235);
    border-collapse: collapse;
}
.payment td{
    background: rgb(255, 255, 255);
    width: 220px;
    padding: 10px;
    text-align: center;
}
.payment a{
    text-decoration: none;
    color: rgb(12, 33, 65);
}

/* 휴대전화 결제 스타일 */
.mobile_payment{
    padding: 20px;
}

.mobile_payment table{
    border: 2px solid rgb(12, 33, 65);
    border-collapse: collapse;
    padding : 5px;
    margin : 5px;

}

.mobile_payment th{
    text-align: right;
    padding: 10px;
}

.mobile_payment td{
    padding: 10px 20px;
}

.mobile_payment a{
    text-decoration: none;
    color: rgb(18, 63, 129);
    font-weight: 700;
}

.mobile_payment input[type="button"]{
    color: rgb(255, 255, 255);
    background: rgb(18, 63, 129);
    padding : 5px 15px;
    border: none;
    border-radius: 5px;       
}

/* 배송주문 접수 완료 */
.order_complete{
    background: url("../images/topimage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding : 180px 40px;
}

.order_complete order_number{
    font-size: 50px;
    color: rgb(131, 167, 218);
}

.order_complete a{
    text-decoration: none;
    color: rgb(18, 63, 129);
    font-weight: 700;
}

/* 배송 조회 스타일 */
.order_query point{
    color: rgb(18, 63, 129);
    font-weight: 700;
}


/* 푸터 */
footer{
    background: rgb(12, 33, 65);
    color: rgb(243, 243, 243);
    padding: 20px 100px;
    text-align: center;
}

.shipping {
  width: 70px;
  height: 35px;
  border-radius: 5px;   
  background: rgb(18, 63, 129);
  color: rgb(229, 238, 238);
  font-size: 15px;
}